/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any additional global styles here */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Accessibility: Focus Visible */
:focus-visible {
  outline: 2px solid #26a2fa;
  outline-offset: 2px;
  border-radius: 4px;
}
